*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@import url("../fonts/graphik/graphik.css");
@import url("../fonts/vesterbro/vesterbro.css");
@import url("../fonts/bigCaslon/bigCaslon.css");

@font-face {
    font-family: 'Big Caslon TTF';
    src: url('BigCaslon-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Serif Display";
    src: url("../fonts/DMSerifDisplay-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

nav{
    padding: 60px 110px;
    width: 100vw;
    max-width:100%;
}

.logo {
    font: normal normal normal 27px/27px 'Graphik';
    letter-spacing: -1.6px;
    color: #fff;
    color: #FC6464;
    /* font-family: 'Graphik'; */
    /* font-size: 27px; */
    /* font-weight: 400; */
}

nav .mainMenu{
    float: right;
}

nav .mainMenu li{
    display: inline-block;
    margin: 0 0 0 35px;
}

nav .openMenu{
    color: #3B3B3B;
    float: right;
    font-size: 21px;
    display: none;
    cursor: pointer;
}

nav .closeMenu, .icons i{
    font-size: 21px;
    color: #fff;
    display: none;
    cursor: pointer;
}

nav .mainMenu li a{
    font: normal normal 400 21px/27px 'Graphik';
    text-decoration: none;
    color: #3B3B3B;
    letter-spacing: -0.4px;
    /* font-family: 'Graphik'; */
    /* font-size: 21px;
    font-weight: 100; */
}

h1.pageTitle{
    font: normal normal 500 81px/108px 'Graphik';
    letter-spacing: -1.62px;
    color: #2C2C2C;
    margin: 15px 0 0 110px;
}

h1.quote{
    margin: 150px 0 0 110px;
    width: 70vw;
    font: normal normal 400 70px/75px 'DM Serif Display';
    letter-spacing: -1.4px;
    color: #FC6464;
}

h1.quote span{
    margin-left: 1vw;
    font: italic normal normal 40px/53px 'Graphik';
    letter-spacing: -2.4px;
    color: #404040;
}

h1.quote span::before {
    display: inline-block;
    content: "";
    border-top: .2vw solid black;
    width: 8vw;
    margin: 0 1vw;
    transform: translateY(-.8vw);
}

.positions{
    margin: 160px 0 0 110px;
}

.positions h3{
    font: normal normal 400 54px/66px 'DM Serif Display';
    letter-spacing: -1px;
    color: #404040;
}

.positions h5{
    font: normal normal 400 24px/26px 'DM Serif Display';
    letter-spacing: -.4px;
    color: #404040;
}

.meet{
    display: flex;
    margin-top: 130px;
    justify-content: space-between;
    padding: 90px 110px;
    background-color: #F86363;
}

.meet .left h1{
    font: normal normal 500 75px/80px 'Graphik';
    letter-spacing: -4.5px;
    color: #fff;
}

.meet .left h2 {
    width: 48vw;
    margin-top:  60px;
    font: normal normal normal 60px/62px 'TRY Vesterbro';
    letter-spacing: -2.4px;
    color: #FFFFFF;
}

.meet .right h3{
    font: normal normal 500 24px/54px 'Graphik';
    letter-spacing: -1.44px;
    color: #FFFFFF;
}

.meet .right h1{
    font: normal normal 300 42px 'Graphik';
    letter-spacing: -1.26px;
    color: #FFFFFF;
}

.tagline{
    background: transparent linear-gradient(90deg, #B75252 0%, #2E2E2E 100%) 0% 0% no-repeat padding-box;
    padding: 54px 0;
    font: normal normal 500 40px/48px 'Big Caslon';
    color: #fff;
    letter-spacing: 0;
    text-align: center;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 72px 110px;
    background-color: #000000;
}

footer h1{
    font: normal normal 500 30px/70px 'Graphik';
    letter-spacing: -1.8px;
    color: #DB5A5A;
}

footer h4{
    font: normal normal 300 21px/70px 'Graphik';
    letter-spacing: -1.26px;
    color: #FFFFFF;
}

footer h4 span{
    font: normal normal normal 21px/70px 'Graphik';
}

@media (max-width: 480px) {
    nav{
        padding: 27px 30px;
        position: fixed;
        top:0px;
        z-index: 9;
        background-color: #ffffffdc;
        backdrop-filter: blur(3px);
    } 
 
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #222;
        z-index: 10;
        transform: top .8s ease-in;
        -webkit-transform: top .8s ease-in;
        display: none;
    }
 
    nav .mainMenu li{
        margin: 0;
    }

    nav .mainMenu li a{
        color: #fff;
    }
 
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 29px; 
        right: 32px;
    }
 
    nav .openMenu{
        display: block;
        font: normal normal normal 21px/30px 'Graphik';
    }
    
    .icons i{
        display: inline-block;
        padding: 24px;
    }
 
    .logo{
        font: normal normal normal 21px/30px 'Graphik';
    }
 
    .checkbtn{
        display: block;
        color: #fff;
     }

     h1.pageTitle{
         margin: 130px 0px 0 30px;
         font: normal normal 500 42px/34px 'Graphik';
         letter-spacing: -1.49px;
     }

     h1.quote{
         margin: 130px 0 0 30px;
         width: 80vw;
         font: normal normal 400 33px/36px 'DM Serif Display';
         letter-spacing: -0.4px;
     }

     h1.quote span{
         font: italic normal normal 13px/22px 'Graphik';
         letter-spacing: -0.96px;
         margin-left: -1vw;
     }

     h1.quote span::before {
        display: inline-block;
        content: "";
        border-top: .4vw solid black;
        width: 3vw;
        margin: 0 1vw;
        transform: translateY(-.8vw);
    }

    .positions{
        width: 80vw;
        margin: 130px 0 0 30px;
    }

    .positions h3{
        font: normal normal 400 33px/48px 'DM Serif Display';
        letter-spacing: -0.3px;
    }
    
    .positions h5{
        font: normal normal 400 15px/17px 'DM Serif Display';
        letter-spacing: -0.22px;
    }

     .meet{
         justify-content: none;
         flex-direction: column;
         align-items: flex-start;
         padding: 60px 30px;
         row-gap: 120px;
     }
 
     .meet .left h1{
         font: normal normal 500 37px/40px 'Graphik';
         letter-spacing: -2.22px;
     }
 
     .meet .left h2{
         width: 100%;
         margin-top:  36px;
         font: normal normal normal 25px/27px 'TRY Vesterbro';
         letter-spacing: -1px;
     }
 
     .meet .right h3{
         font: normal normal 500 15px/33px 'Graphik';
         letter-spacing: -0.9px;
     }
 
     .meet .right h1{
         font: normal normal 300 28px 'Graphik';
         letter-spacing: -0.78px;
         padding-bottom: 15px;
     }
 
     .tagline{
         padding: 30px 0;
         font: normal normal 500 18px/21px 'Big Caslon TTF';
     }
 
     footer{
         padding: 30px 30px;
     }

     footer h1{
         font: normal normal 500 18px/33px 'Graphik';
         letter-spacing: -1.08px;
     }
 
     footer h4{
         font: normal normal 300 10px/33px 'Graphik';
         letter-spacing: -0.6px;
     }
 
     footer h4 span{
         font: normal normal normal 10px/33px 'Graphik';
     }
}