*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@import url("../fonts/graphik/graphik.css");
@import url("../fonts/vesterbro/vesterbro.css");
@import url("../fonts/bigCaslon/bigCaslon.css");

nav{
    /* background-color: #DB5A5A; */
    position: absolute;
    padding: 60px 110px;
    width: 100vw;
    max-width:100%;
}

.logo {
    font: normal normal normal 27px/27px 'Graphik';
    letter-spacing: -1.6px;
    color: #fff;
    /* font-family: 'Graphik'; */
    /* font-size: 27px; */
    /* font-weight: 400; */
}

nav .mainMenu{
    float: right;
}

nav .mainMenu li{
    display: inline-block;
    margin: 0 0 0 35px;
}

nav .mainMenu li a{
    font: normal normal 400 21px/27px 'Graphik';
    text-decoration: none;
    color: #fff;
    letter-spacing: -0.4px;
    /* font-family: 'Graphik'; */
    /* font-size: 21px;
    font-weight: 100; */
}

nav .openMenu{
    color: #fff;
    float: right;
    font-size: 21px;
    display: none;
    cursor: pointer;
}

nav .closeMenu, .icons i{
    font-size: 21px;
    color: #fff;
    display: none;
    cursor: pointer;
}

.hero {
    background-color: #F86363;
    height: 100vh;
    top: 0;
    z-index: -1;
    position: relative;
}

.hero .title{
    color: #fff;
    position: absolute;
    top: 50%;
    white-space: nowrap;
    left: 50%;
    font:normal normal 500 60px/72px 'Big Caslon';
    transform: translate(-50%, -50%);
    /* z-index: 1; */
}

.hero .watermark{
    opacity: 20%;
    color: transparent;
    -webkit-text-stroke: 1.5px #fff;
    font:normal normal 500 196px/216px 'Big Caslon';
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.hero .scroll{
    top: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero .scroll h2{
    color: #fff;
    font: normal normal normal 27px/40px 'Graphik';
    letter-spacing: -0.4px;
}

.latest{
    display: flex;
    justify-content: space-between;
    padding: 72px 72px 72px 72px;
}

.latest .leftImage{
    width: 55vw;
}

.latest .projectInfo{
    width: 33vw;
    position: relative;
    align-items: center;
    display: flex;
}

/* .latest .projectInfo .content{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);
    color: #fff;
} */

.latest .projectInfo .content h4{
    color: #F86363;
    font: normal normal normal 21px/80px 'Graphik';
    letter-spacing: -0.23px;
}

.latest .projectInfo .content h1{
    font: normal normal normal 50px/52px 'Graphik';
    color: #1D1D1D;
    letter-spacing: -2px;
}

.latest .projectInfo .content h1 span{
    font:normal normal 500 50px/52px 'Big Caslon';
    color: #F86363;
}

.latest .projectInfo .content p{
    margin-top: 24px;
    width: 80%;
    font: italic normal 300 19px/26px 'Graphik';
    letter-spacing: -0.3px;
    color: #000000;
    margin-bottom: 24px;
}

/* .latest .projectInfo .content .tags .row1{
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
} */

.latest .projectInfo .content .tags{
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: flex-start;
}

.latest .projectInfo .content .tags .tag{
    background-color: #F86363;
    padding: 12px 32px;
    width: fit-content;
    border-radius: 27px;
    color: #fff;
    letter-spacing: -0.6px;
    margin-right: 15px;
    white-space: nowrap;
    font: normal normal normal 18px/30px 'Graphik';
}

/* .latest .projectInfo .content .tags .row2{
    display: flex;
    align-items: flex-start;
} */

.latest .projectInfo .content .readMore {
    font: normal normal normal 18px 'Graphik';
    color: #F86363;
}

.latest .projectInfo .content .readMore i{
    font-size: large;
    padding: 0px 0 0 6px;
}

.vennDiagram{
    display: flex;
    justify-content:flex-end;
    padding: 72px 120px 72px 120px;
    background-color: #FFF8F8;
}

.vennDiagram img{
    width: 38.5vw;
}

.boldText{
    margin-top: 150px;
    display: flex;
    max-width: 100vw;
    padding-bottom: 60px;
    overflow: hidden;
    justify-content: space-between;
}

.boldText .first{
    margin-left: -2vw;
    width: 21vw;
    letter-spacing: -7.2px;
    font:normal normal 500 96px/96px 'Graphik';
}

.boldText .first span{
    font: italic normal normal 96px/96px Serif;
    letter-spacing: -6px;
    color: #F86363;
}

.boldText .second{
    width: 21vw;
    letter-spacing: -2.4px;
    font:normal normal 500 96px/96px 'Big Caslon';
}

.boldText .second span{
    color: #F86363;
    font:normal normal 500 96px/96px 'Graphik';
}

.boldText .third{
    margin-right: -2vw;
    width: 21vw;
    letter-spacing: -7.2px;
    font:normal normal 500 96px/96px 'Graphik';
}

.boldText .third .red{
    color: #F86363;
    letter-spacing: -7.2px;
    font:normal normal 500 96px/96px 'Graphik';
}

.boldText .third span{
    font: italic normal normal 96px/96px Serif;
    letter-spacing: -6px;
}

.about {
    overflow: hidden;
    display: flex;
    padding: 60px 110px;
    justify-content: space-between;
}

.about .left{
    width: 60vw;
}

.about .left .company .heading{
    font: normal normal 500 50px/33px 'Graphik';
    letter-spacing: -1px;
    color: #2C2C2C;
    margin-bottom: 30px;
}

.about .left .company p{
    font: normal normal normal 24px/30px 'Graphik';
    letter-spacing: -0.54px;
    color: #2C2C2C;
}

.about .left .method{
    margin-top: 160px;
}

.about .left .method .heading{
    font: normal normal 500 50px/33px 'Graphik';
    letter-spacing: -1px;
    color: #2C2C2C;
    margin-bottom: 30px;
}

.about .left .method p{
    font: normal normal normal 24px/30px Graphik;
    letter-spacing: -0.54px;
    color: #2C2C2C;
}

.about .left .method p span{
    display: block;
    margin-left: 2vw;
    z-index: 8;
}

.about .left .method p span::before{
    content: "• ";
    position: absolute;
    font-size: 330px;
    color: #F86363;
    z-index: 0;
    transform: translate(-50%, -20%);
    mix-blend-mode: overlay;
}

.about .right{
    position: relative;
}

.about .right .title{
    text-align: left;
    position: absolute;
    top: 60%;
    right: -20vh;
    white-space: nowrap;
    transform: translate(0, -50%);
    font: normal normal 500 112px/112px 'Graphik';
    letter-spacing: -2.4px;
    color: #2C2C2C;
}

.about .right .title span{
    font: normal normal bold 112px/112px 'TRY Vesterbro';
    color: #F86363;
    letter-spacing: -4px;
}

.about .right .title span.bottom{
    margin-left: 12vh;
}

.faq{
    background-color: #F5F5F5;
    padding: 90px 110px;
}

.faq h1{
    font: normal normal 500 40px/53px 'Graphik';
    letter-spacing: -0.8px;
}

.faq .row{
    display: flex;
    padding-top: 54px;
    justify-content: space-between;
}

.faq .row .question{
    background-color: #313131;
    width: 26vw;
    padding: 42px 60px;
    height: fit-content;
}

.faq .row .question .heading{
    font: normal normal 400 20px/26px 'Graphik';
    letter-spacing: -.6px;
    color: #FFFFFF;
}

.faq .row .question .answer{
    margin-top: 24px;
    font: normal normal 300 16px/24px 'Graphik';
    letter-spacing: -0.32px;
    color: #EFEFEF;
}

.faq .contact{
    margin-top: -21vh;
    width: 57vw;
    height: 21vh;
    border-radius: 108px;
    background: transparent linear-gradient(95deg, #313131 0%, #626262 100%) 0% 0% no-repeat padding-box;
    padding: 54px 100px;
}

.faq .contact h1{
    font: normal normal 500 42px/55px 'Graphik';
    letter-spacing: -2.52px;
    color: #fff;
}

.faq .contact h1 span{
    font: italic normal 300 42px/55px 'Graphik';
    letter-spacing: -2.52px;
}

.meet{
    display: flex;
    justify-content: space-between;
    padding: 90px 110px;
    background-color: #F86363;
}

.meet .left h1{
    font: normal normal 500 75px/80px 'Graphik';
    letter-spacing: -4.5px;
    color: #fff;
}

.meet .left h2 {
    width: 42vw;
    margin-top:  60px;
    font: normal normal normal 60px/62px 'TRY Vesterbro';
    letter-spacing: -2.4px;
    color: #FFFFFF;
}

.meet .right h3{
    margin-top: 06px;
    font: normal normal 500 21px/30px 'Graphik';
    letter-spacing: -.6px;
    color: #FFFFFF;
}

.meet .right h1{
    font: normal normal 200 42px 'Graphik';
    letter-spacing: -1.26px;
    color: #FFFFFF;
}

.tagline{
    background: transparent linear-gradient(90deg, #B75252 0%, #2E2E2E 100%) 0% 0% no-repeat padding-box;
    padding: 54px 0;
    font: normal normal 500 40px/48px 'Big Caslon';
    color: #fff;
    letter-spacing: 0;
    text-align: center;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 72px 110px;
    background-color: #000000;
}

footer h1{
    font: normal normal 500 30px/70px 'Graphik';
    letter-spacing: -1.8px;
    color: #DB5A5A;
}

footer h4{
    font: normal normal 300 21px/70px 'Graphik';
    letter-spacing: -1.26px;
    color: #FFFFFF;
}

footer h4 span{
    font: normal normal normal 21px/70px 'Graphik';
}

@media (max-width: 480px){
   nav{
       padding: 27px 30px;
       position: fixed;
       background-color: #f86363ef;
       z-index: 9;
       backdrop-filter: blur(3px);
   } 

   nav .mainMenu{
       height: 100vh;
       position: fixed;
       top: 0;
       right: 0;
       left: 0;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background: #222;
       z-index: 10;
       transform: top .8s ease-in;
       -webkit-transform: top .8s ease-in;
       display: none;
   }

   nav .mainMenu li{
       margin: 0;
   }

   nav .mainMenu .closeMenu{
       display: block;
       position: absolute;
       top: 29px; 
       right: 32px;
   }

   nav .openMenu{
       display: block;
       font: normal normal normal 21px/30px 'Graphik';
   }
   
   .icons i{
       display: inline-block;
       padding: 24px;
   }
   
   .logo{
       font: normal normal normal 21px/30px 'Graphik';
    }

   .checkbtn{
       display: block;
       color: #fff;
    }

   .hero .title{
        font: normal normal 500 45px/48px 'Big Caslon';
        transform: none;
        top: 240px;
        left: 30px;
        right: 30px;
        white-space: normal;
   }

   .hero .watermark{
       display: none;
   }

   .hero .scroll{
       top: 80%;
   }

   .hero .scroll h2{
       font: normal normal normal 17px/23px 'Graphik';
       letter-spacing: -0.51px;
       white-space: nowrap;
   }

   .latest{
       display: flex;
       align-items: center;
       padding: 36px 30px;
       flex-direction: column;
   }

   .latest .leftImage{
       width: 80vw;
   }

   .latest .projectInfo{
       width: 80vw;
   }

   .latest .projectInfo .content h4{
       font: normal normal normal 16px/67px 'Graphik';
       letter-spacing: -0.22px;
   }   

   .latest .projectInfo .content h1{
       font: normal normal medium 33px/30px 'Graphik';
       margin-top: -20px;
       letter-spacing: -1.49px;
   }

   .latest .projectInfo .content h1 span{
       font: normal normal 500 33px/30px 'Big Caslon';
       letter-spacing: -1.49px;
   }

   .latest .projectInfo .content p{
       font: italic normal 300 15px/18px 'Graphik';
       margin: 18px 0;
   }

   .latest .projectInfo .content .tags{
       row-gap: 9px;
   }

   .latest .projectInfo .content .tags .tag{
       padding: 9px 18px;
       margin-right: 12px;
       font: normal normal normal 13px 'Graphik';
   }

   .latest .projectInfo .content .readMore{
       font: normal normal normal 13px 'Graphik';
   }

   .latest .projectInfo .content .readMore i{
       font-size: small;
       padding: 0px 0 0 3px;
    }

    .vennDiagram{
        justify-content: center;
        padding: 45px 0;
    }

    .vennDiagram img{
        width: 80vw;
    }

    .boldText{
        margin-top: 72px;
    }

    .boldText .first{
        margin-left: -18vw;
        width: 18vw;
        letter-spacing: -1.8px;
        font:normal normal 500 30px/29px 'Graphik';
    }

    .boldText .first span{
        letter-spacing: -1.8px;
        font:normal normal 600 30px/29px Serif;
    }

    .boldText .second{
        /* margin-left: -9vw; */
        width: 18vw;
        letter-spacing: -1.8px;
        font:normal normal 500 30px/29px 'Graphik';
    }

    .boldText .second span{
        letter-spacing: -1.8px;
        font:normal normal 600 30px/29px Serif;
    }

    .boldText .third{
        margin-right: 0vw;
        width: 18vw;
        letter-spacing: -1.8px;
        font:normal normal 500 30px/29px 'Graphik';
    }

    .boldText .third .red{
        letter-spacing: -1.8px;
        font:normal normal 500 30px/29px 'Graphik';
    }

    .boldText .third span{
        letter-spacing: -1.8px;
        font:normal normal 600 30px/29px Serif;
    }

    .about{
        padding: 36px 30px;
    }

    .about .left{
        width:80vw;
    }

    .about .left .company .heading{
        font: normal normal 500 33px/33px 'Graphik';
        margin-bottom: 24px;
    }

    .about .left .company p{
        font: normal normal normal 15px/18px 'Graphik';
        letter-spacing: -0.54px;
    }

    .about .left .method{
        margin-top: 72px;
    }

    .about .left .method .heading{
        font: normal normal 500 33px/33px 'Graphik';
        margin-bottom: 24px;
    }

    .about .left .method p{
        font: normal normal normal 15px/18px 'Graphik';
        letter-spacing: -0.54px;
    }

    .about .left .method p span{
        display: block;
        padding-left: 12px;
    }

    .about .left .method p span::before{
        font-size: 180px;
        transform: translate(-50%, 25%);
    }

    .about .right .title{
        top: 57%;
        right: -18vw;
        font: normal normal 500 33px/33px 'Graphik';
        letter-spacing: -0.54px;
    }

    .about .right .title span{
        font: normal normal bold 33px/33px 'TRY Vesterbro';
        letter-spacing: -1px;
    }

    .about .right .title span.bottom{
        margin-left: 11vw;
    }

    .faq{
        padding: 45px 30px;
    }

    .faq h1{
        font: normal normal 500 33px/33px 'Graphik';
        letter-spacing: -0.66px;
    }

    .faq .row{
        justify-content: none;
        flex-direction: column;
        align-items: center;
        row-gap: 27px;
        margin-top: -27px;
    }

    .faq .row .question{
        width: 100%;
        padding: 24px 27px;
    }

    .faq .row .question .heading{
        font: normal normal 400 15px/18px 'Graphik';
        letter-spacing: -0.84px;
    }

    .faq .row .question .answer {
        margin-top: 18px;
        font: normal normal 300 12px/16px 'Graphik';
        letter-spacing: -0.24px;
    }

    .faq .contact{
        display: none;
    }

    .meet{
        justify-content: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 60px 30px;
        row-gap: 120px;
    }

    .meet .left h1{
        font: normal normal 500 37px/40px 'Graphik';
        letter-spacing: -2.22px;
    }

    .meet .left h2{
        width: 100%;
        margin-top:  36px;
        font: normal normal normal 25px/27px 'TRY Vesterbro';
        letter-spacing: -1px;
    }

    .meet .right h3{
        font: normal normal 500 15px/33px 'Graphik';
        letter-spacing: -0.9px;
    }

    .meet .right h1{
        font: normal normal 200 28px 'Graphik';
        letter-spacing: -0.78px;
        padding-bottom: 15px;
    }

    .tagline{
        padding: 30px 0;
        font: normal normal 500 18px/21px 'Big Caslon';
    }

    footer{
        padding: 30px 30px;
    }

    footer h1{
        font: normal normal 500 18px/33px 'Graphik';
        letter-spacing: -1.08px;
    }

    footer h4{
        font: normal normal 300 10px/33px 'Graphik';
        letter-spacing: -0.6px;
    }

    footer h4 span{
        font: normal normal normal 10px/33px 'Graphik';
    }
}