/* @font-face {
    font-family: 'TRY Vesterbro';
    src: url('TRYVesterbro-Extrabold.woff2') format('woff2'),
        url('TRYVesterbro-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} */

/* @font-face{
    font-family:"try-vesterbro-extrabold-regular";
    src:url("https://fontsme.com/wp-data/v/849/13849/file/TRYVesterbro-Extrabold.otf") format("woff"),
    url("https://fontsme.com/wp-data/v/849/13849/file/TRYVesterbro-Extrabold.otf") format("opentype"),
    url("https://fontsme.com/wp-data/v/849/13849/file/TRYVesterbro-Extrabold.otf") format("truetype");
}

@font-face {
    font-family: 'TRY Vesterbro';
    src:url("https://fontsme.com/wp-data/v/849/13849/file/TRYVesterbro-Extrabold.otf") format("woff"),
        url("https://fontsme.com/wp-data/v/849/13849/file/TRYVesterbro-Extrabold.otf") format("opentype"),
        url("https://fontsme.com/wp-data/v/849/13849/file/TRYVesterbro-Extrabold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'TRY Vesterbro';
    src:url("https://fontsme.com/wp-data/v/849/13849/file/TRYVesterbro-Bold.otf") format("woff"),
        url("https://fontsme.com/wp-data/v/849/13849/file/TRYVesterbro-Bold.otf") format("opentype"),
        url("https://fontsme.com/wp-data/v/849/13849/file/TRYVesterbro-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'TRY Vesterbro';
    src: url('TRYVesterbro-Light.woff2') format('woff2'),
        url('TRYVesterbro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: 'TRY Vesterbro';
    src:url("https://fontsme.com/wp-data/v/849/13849/file/TRYVesterbro-Medium.otf") format("woff"),
        url("https://fontsme.com/wp-data/v/849/13849/file/TRYVesterbro-Medium.otf") format("opentype"),
        url("https://fontsme.com/wp-data/v/849/13849/file/TRYVesterbro-Medium.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'TRY Vesterbro';
    src:url("https://fontsme.com/wp-data/v/849/13849/file/TRYVesterbro-Regular.otf") format("woff"),
        url("https://fontsme.com/wp-data/v/849/13849/file/TRYVesterbro-Regular.otf") format("opentype"),
        url("https://fontsme.com/wp-data/v/849/13849/file/TRYVesterbro-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

