/* @font-face {
    font-family: 'Big Caslon';
    src: url('BigCaslon-Medium.eot');
    src: url('BigCaslon-Medium.eot?#iefix') format('embedded-opentype'),
        url('BigCaslon-Medium.woff2') format('woff2'),
        url('BigCaslon-Medium.woff') format('woff'),
        url('BigCaslon-Medium.ttf') format('truetype'),
        url('BigCaslon-Medium.svg#BigCaslon-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: "Big Caslon"; 
    src: url("//db.onlinewebfonts.com/t/4a836f00bd7d75f5f942e1ee9ec3c064.eot"); 
    src: 
        url("//db.onlinewebfonts.com/t/4a836f00bd7d75f5f942e1ee9ec3c064.eot?#iefix") format("embedded-opentype"), 
        url("//db.onlinewebfonts.com/t/4a836f00bd7d75f5f942e1ee9ec3c064.woff2") format("woff2"), 
        url("//db.onlinewebfonts.com/t/4a836f00bd7d75f5f942e1ee9ec3c064.woff") format("woff"), 
        url("//db.onlinewebfonts.com/t/4a836f00bd7d75f5f942e1ee9ec3c064.ttf") format("truetype"), 
        url("//db.onlinewebfonts.com/t/4a836f00bd7d75f5f942e1ee9ec3c064.svg#Big Caslon") format("svg"); 
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}